.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;

  .results {
    display: grid;
    place-items: center;
    background: red;
    grid-template-rows: 100px 1fr;
    .main {
      align-self: start;
    }
  }

  .aside {
    text-align: center;
  }
}
